html, body, #root, #root>div {
  height: 100%
}

body {
  margin: 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #ee6d73;
  box-shadow: 0 1px 0 0 #ee6d73;
}

form {
  width: 100%;
}

p, span {
  color: rgba(0,0,0,0.87)!important;
}
